

@import "../custom/mixin";
@import "ios-picker";

// ==================================
// =============== 首页 ==============
// ==================================

// 首页背景图
.home-splash {
  background-image: url(../../images/splash.jpg);
  background-size: cover;
  @include size(100%);
  position: relative;
}
.home-btn {
  @include skin-fgbd($main-orange, $main-orange);
  border-width: 3px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 15px;
  background: transparent;
  @include inside-center(150px, 45px);
  @include position-basic(fixed, left, 50%, bottom, 15%);
  margin-left: -75px;
}

// ==================================
// ============= 发布采购 ============
// ==================================
.purchase-publish {
  position: relative;
  z-index: 1;
  .item {
    z-index: 2;
  }
  .first {
    z-index: 3;
    overflow: visible;
  }
  .downList {
    z-index: 5;
  }
  input[readonly]:not(.cloned-text-input) {
    background: #fff;
  }
}

// ==================================
// ============= 采购列表 ============
// ==================================
.purchase-list {
  .item {
    border-radius: 10px;
  }
  .item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .item-a {
    @include position();
    @include size(100%);
  }
  .ellipsis {
    @include overflow(ellipsis);
    padding-right: 60px;
    display: block;
  }
}

// 过滤器菜单
.listFilterWrap {
  width: 90px;
  @include position-basic(absolute, right, 5px, top, 47px);
  @include skin-basic($main-orange, #fff);
  padding: 10px;
  border-radius: 4px;
  li {
    @include inside-center(70px, 30px);
    border-bottom: 1px solid #dc6213;
    &:last-child {
      border: 0;
    }
  }
}

// ==================================
// ============ 报价商家列表 ==========
// ==================================
.offer {
  .item h2,
  .item p {
    white-space: normal;
  }
  .item-radio {
    border: 0;
  }
  .iconfont {
    @include position-basic(absolute, left, 25px, top, 25px);
    font-size: 32px;
  }
  .button.button-choice {
    left: auto;
    right: 5px;
  }
  // 修改ionic默认点击单选选中时背景颜色
  .item-radio input:checked+.radio-content .item-content {
      background: #fff;
  }
}

// ==================================
// ============= 订单双方 ============
// ==================================
.order-mutual {
  margin: 20px;
  margin-top: 30px;
  .iconfont {
    font-size: 32px;
  }
  .item p{
    white-space: normal;
    word-wrap:break-word;
  }
  @include link-a(#666);
  .col-50 {
    flex: 0 0 45%;
    max-width: 45%;
  }
}

// ==================================
// ============= 物流追踪 ============
// ==================================
.logistics {
  .button {
    left: 25px;
  }
  .line {
    width: 1px;
    height: 100%;
    @include position-basic(absolute, top, 0, left, 38px);
    background: #ddd;
  }
  .border-bottom {
    border-bottom: 2px solid #ccc;
  }
}

// ==================================
// ============= 个人中心 ============
// ==================================
.userInfo{
  background: url(../../images/bg-grid.jpg) repeat;
  background-size: initial; 
  .avatar {
    background-image: url('../../images/bg.png');
    background-size: cover;
    padding: 50px 0;
  }
  .icon-center {
    border-radius: 50px;
    @include inside-center(100px);
    height: 100px;
  }
  .icon100 {
    max-width: none;
  }
  .button-icon.icon:before {
    font-size: 36px;
  }
}
.userContent {
  padding: 35px;
  white-space: normal;
  font-size: 16px;
  color: #343434;
}

// 无网络连接
.offline {
  @include position-basic(fixed, left, 0, top, 40%);
  text-align: center;
  width: 100%;
  font-size: 18px;
}