

@import "../custom/mixin";
@import "ios-picker";

.mt-5 {
  margin-top: -5px;
}
// 图标
.icon-sprite {
  background-image: url('../../images/icon.png');
  @include size(90px,80px);
  background-repeat: no-repeat;
  display: block;
}
.icon-needle {
  @extend .icon-sprite;
  background-position: 0 0;
  @include position-basic(absolute, left, 10px,top, -20px);
  z-index: 3;
}
// ==================================
// ============= 发布采购 ============
// ==================================
// 购物车和支付图标
.icon-center {
  border-radius: 40px;
  overflow: hidden;
  background-color: #fff;
  font-size: 3.5em;
  @include inside-center(80px);
  @include outside-center();
}
// 采购列表项目
.purchase-item {
  .item-a {
    @include position();
    @include size(100%);
  }
  .ellipsis {
    @include overflow(ellipsis);
    width: calc(100% - 60px);
    display: block;
  }
}

// ==================================
// ============ 报价商家列表 ==========
// ==================================
.offer-item {
  .item-radio {
    border: 0;
  }
  .iconfont {
    @include position-basic(absolute, left, 25px, top, 25px);
    font-size: 32px;
  }
  .button.button-choice {
    left: auto;
    right: 5px;
  }
}
.sawtooth {
  @include size(100%, 7px);
  background-image: url('../../images/sawtooth.png');
  background-repeat: repeat-x;
  position: relative;
  z-index: 3;
}

// ==================================
// ============= 订单双方 ============
// ==================================
.order-mutual {
  margin: 30px;
  .iconfont {
    font-size: 32px;
  }
  .item p{
    white-space: normal;
    word-wrap:break-word;
  }
  .col-50 {
    flex: 0 0 45%;
    max-width: 45%;
  }
}
.bg-grid {
  @include gradient-grid(#f3f3f3, 10px, 1px);
}

// ==================================
// ============= 物流追踪 ============
// ==================================
.logistics {
  overflow: hidden;
  .button {
    left: 25px;
  }
  .line {
    border-left: 1px solid #ccc;
    display: block;
    width: 1px;
    height: 100px;
    margin-right: -7px;
  }
}
.border0 {
  border: 0;
}
.border-bottom {
  border-bottom: 2px solid #eee;
}

// ==================================
// ============= 个人中心 ============
// ==================================
.userInfo,
.userInfo .item{
  border: 0;
  background-size: cover;
  @include gradient-grid(#f3f3f3, 10px, 1px);
}
.userInfo .avatar {
  background-image: url('../../images/bg.png');
  background-size: cover;
  padding: 20px 0;
}
