
<ion-view  view-title="采购单">
    <ion-nav-buttons side="right">
        <list-filter></list-filter>
    </ion-nav-buttons>
    <ion-content class="j-content">
        <input type="hidden" ng-model="statusFilter" value="{{$root.statusFilter}}">
        <ion-refresher
              pulling-text="下拉刷新..." 
              refreshing-text="刷新成功" 
              on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list class="list list-inset list-space purchase-list j-list">
            <ion-item ng-repeat="item in $root.purList" list-route>
                <span class="black ellipsis">{{item.productName}}</span>
                <span class="badge badge-assertive fr" ng-if="item.state | offerShow">{{item.quotationCount}}</span>
                <p>
                    <span>数量：{{item.productAmount}}{{item.productUnit}}</span>
                    <span class="fr blue" ng-if="item.state | stateShow">{{item.state}}</span>
                    <span class="fr blue" ng-if="item.state | offerShow">商家报价</span>
                </p>
                <p>
                    <span class="gray_mid mr10">{{item.createdOn | date:'yyyy-MM-dd'}}</span>
                    <span class="green" ng-if="item.state | logisticsShow">物流追踪<i class="iconfont ml5 icon-truck f20"></i></span>
                </p>
                <input type="hidden" name="id" value="{{item.name}}" ng-model="item.name" />
            </ion-item>
        </ion-list>
        <ion-infinite-scroll 
                ng-if="$root.hasMore"
                on-infinite="loadMore()" 
                distance="2%"
                immediate-check="false">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>