
@import 'custom/custom.scss';
@import 'custom/mixin.scss';

// 圆角按钮
.button-round {
  border-radius: 30px;
}
.button-round-space {
  @extend .button-round;
  margin-left: 10px;
  margin-right: 10px;
}

// 圆角列表
.list-round {
  border-radius: 10px;
}

// 设置全局背景色
.scroll-content,
.list,
.bg-main {
  background-image: url('../images/bg.png');
  background-size: cover;
}

// 列表
.list {
  display: block;
}
.list-space .item {
  margin-bottom: 10px;
  background-color: #fff;
  white-space: normal;
}

// 错误提示
.error_tip {
  @include position-basic(fixed, bottom, 60px, left, 50%);
  width: 180px;
  color: #fff;
  background: rgba(0, 0, 0, .7);
  opacity: .7;
  border-radius: 4px;
  padding: 5px 7px;
  text-align: center;
  margin-left: -90px;
  font-size: .9em;
  z-index: 10;
}

// 颜色
@include color('gray_light', '#bbb');
@include color('gray_mid', '#343434');
@include color('green', '#24ccab');
@include color('orange', '#ff6c21');
@include color('blue', '#1baee4');
@include color('red');
@include color('white');
@include color('black');