

@import "custom/mixin";
@import "pages/ios-picker";


// ==================================
// ============= 发布采购 ============
// ==================================
// 购物车图标
.icon-cart {
	border-radius: 40px;
	overflow: hidden;
	background-color: #fff;
	font-size: 4em;
	@include inside-center(80px);
	margin: 15px auto;
}
// 采购列表项目
.purchase-item {
	.item-a {
		@include position();
		@include size(100%);
	}
}
