
<ion-view view-title="修改密码">
    <ion-content>
        <ion-list class="list list-inset card list-round j-form">
            <ion-item class="item-input">
                <input type="password" name="password" ng-model="user.password" placeholder="请输入旧密码" value="" data-empty="请输入旧密码"  />
            </ion-item>
            <ion-item class="item-input">
                <input type="password" name="newPwd" ng-model="user.newPwd" placeholder="请输入新密码" value="" data-empty="请输入新密码" />
            </ion-item>
            <ion-item class="item-input">
                <input type="password" name="confirmPwd" placeholder="请再次输入新密码" value="" data-empty="请再次输入新密码" />
            </ion-item>
            <ion-item>
                <span class="button button-full button-energized button-round" ng-click="submit()">提交保存</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
  
