
<ion-view view-title="修改密码">
    <ion-content>
        <ion-list class="list list-inset card list-round j-changePwd">
            <ion-item class="item-input">
                <input type="password" class="j-input" name="oldPwd" ng-model="user.oldPwd" placeholder="请输入旧密码" value="" data-empty="请输入旧密码"  />
            </ion-item>
            <ion-item class="item-input">
                <input type="password" class="j-input" name="password" ng-model="user.password" placeholder="请输入新密码" value="" data-empty="请输入新密码" />
            </ion-item>
            <ion-item class="item-input">
                <input type="password" class="j-input" name="confirmPwd" placeholder="请再次输入新密码" value="" data-empty="请再次输入新密码" />
            </ion-item>
            <ion-item>
            <submit-button action="./json/login.json" state="purchase.userInfo" text="提交保存" user="true" form=".j-changePwd"></submit-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
  
