
<ion-view  view-title="采购单">
    <ion-nav-buttons side="right">
        <button class="button icon button-clear ion-navicon" menu-toggle="right"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item item-button-left">
                <button class="button icon button-icon button-clear ion-ios-cart-outline button-dark"></button>
                <h2>高密度聚乙烯HDPE独山子48025555高密度聚乙烯HDPE独山子48025555</h2>
                <p class="">数量: 3吨 {{product.num}}</p>
                <p class="gray_light font_sm">2015-12-02{{time}}</p>
            </ion-item>
            <ion-list class="list list-inset card">
            	<ion-item class="item item-button-left">
	                <button class="button icon button-icon button-clear ion-ios-cart-outline button-dark"></button>
	                <h2>高密度聚乙烯HDPE独山子48025555高密度聚乙烯HDPE独山子48025555</h2>
	                <p class="">数量: 3吨 {{product.num}}</p>
	                <p class="gray_light font_sm">2015-12-02{{time}}</p>
	            </ion-item>
            </ion-list>
        </ion-list>
    </ion-content>
</ion-view>