
<ion-view  view-title="采购单">
    <ion-content>
        <ion-list>
            <ion-item class="item item-button-left border0">
                <button class="button icon button-icon button-clear ion-ios-cart-outline button-dark"></button>
                <h2>{{product.name}}</h2>
                <p>数量: {{product.num}}{{product.unit}}</p>
                <p>{{product.time}}</p>
            </ion-item>
            <p class="sawtooth"></p>
        </ion-list>
        <ion-list class="list list-inset card mt0">
        	<ion-item class="item item-button-left offer-item" ng-repeat="item in list">
        	    <button class="button icon button-icon button-clear ion-ios-person-outline button-energized button-avatar"></button>
        		<ion-radio name="choiceOffer" ng-model="choiceOffer" ng-value="{{item.id}}" class="energized">
	                <h2>{{item.name}}</h2>
	                <p>单价: {{item.price}}元／{{product.unit}}</p>
	                <p>总价: <span class="orange">{{item.price * product.num}}元</span></p>
                    <button class="button button-icon icon ion-ios-circle-outline gray_light button-choice"></button>
        		</ion-radio>
        	</ion-item>
            <ion-item>
                <span class="button button-full button-energized button-round" ng-click="order()">选择商家</span>
                <span class="button button-full button-stable button-round" ng-click="changeOffer()">不满意，我要再刷一波商家</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>