
<ion-view view-title="个人中心">
	<ion-nav-buttons side="right">
        <button class="button icon button-clear ion-navicon" menu-toggle="right"></button>
    </ion-nav-buttons>
    <ion-content class="userInfo">
    	<div class="avatar">
    		<div class="icon-center"><i class="ion-ios-person-outline energized"></i></div>
    		<div class="white tc mt10">burce-ko@163.com</div>
    	</div>
        <ion-list>
        	<ion-item>
        		<p>公司：深圳市市政工程总公司</p>
        		<p>电话：13008885248</p>
        		<p>邮箱：burce-ko@163.com</p>
        		<p class="tr"><a href="#/purchase/editUser" class="button button-icon icon ion-ios-compose-outline blue"></a></p>
        	</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
