
<ion-view view-title="个人中心">
    <ion-content class="userInfo">
    	<div class="avatar">
    		<div class="icon-center"><i class="ion-ios-person-outline energized"></i></div>
    	</div>
        <div class="userContent">
    		<div class="mb10">公司：{{user.company}}</div>
    		<div class="mb10">电话：{{user.phone}}</div>
    		<p class="tr">
                <a href="#/purchase/editUser" class="button button-icon icon ion-ios-compose-outline blue"></a>
                <a href="#/purchase/changePwd" class="button button-icon icon ion-unlocked blue"></a>
            </p>
            <button ng-click="exit()" class="button button-full button-energized button-round">退出当前账号</button>
        </div>
    </ion-content>
</ion-view>
