
<ion-view  view-title="登录">
    <ion-nav-bar class="bar-energized" align-title="center">
    </ion-nav-bar>
    <ion-content>
        <ion-list class="list card list-round j-login">
            <ion-item class="item-input">
                <input type="number" class="j-input" name="phone" placeholder="手机号码" ng-model="user.phone" value="{{user.phone}}" data-empty="请输入手机号码" />
            </ion-item>
            <ion-item class="item-input">
                <input type="password" class="j-input" name="password" ng-model="user.password" placeholder="请输入密码" value="{{user.password}}" data-empty="请输入密码" />
            </ion-item>
            <input type="hidden" name="userType" value="采购商">
            <p id="test">{{user.phone + user.password}}</p>
            <ion-item>
                <submit-button action="/login" login="true" state="purchase.publish" text="登录" form=".j-login"></submit-button>
                <a href="#/register" class="button button-full button-stable button-round">还没有账号，赶紧来注册吧</a>
                <a href="#/findPwd" class="blue">忘记密码？</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>